/* CREATED BY shivam gupta 04/11/2017*/


/******OVERRIDE START*******/
.btn{
	border-radius : 0px;
	white-space : initial;
}
.btn-green{
	color : white;
	background-color: green;
	border: green;
}
.carousel-control.left,
.carousel-control.right {
	background-image: none;
}
.glyphicon-chevron-left:before {
	content: url("../img/left_arw.PNG");
}
.glyphicon-chevron-right:before {
	content: url("../img/right_arw.PNG");
}
.navbar{
	margin-bottom : 0px;
}
.navbar *{
	font-family: myriadRegular;
	font-size: 15px;
}
.card{
	font-family: myriadSemiBold;
	margin : auto;
}
.carousel-indicators{
	bottom : -30px;
}
.carousel-indicators li{
	background-image: url("../img/testimonial_regular.PNG");
	width : 16px;
	height : 16px;
}
.carousel-indicators li.active{
	background-image: url("../img/testimonial.PNG");
	width : 16px;
	height : 16px;
}
#myCarousel img{
	width : 100%;
}
/******OVERRIDE END******/



/*****GENERAL CSS START******/
@font-face {
    font-family: myriadBold;
    src: url("../fonts/Fonts/MyriadPro-Bold.otf");
}
@font-face {
    font-family: myriadRegular;
    src: url("../fonts/Fonts/MyriadPro-Regular.otf");
}
@font-face {
    font-family: myriadSemiBold;
    src: url("../fonts/Fonts/MyriadPro-Semibold.otf");
}
*{
	font-family: myriadRegular;
}
b{
	font-family: myriadBold;
}
.font--myriadsemibold{
	font-family: myriadSemiBold;
}
.font-size--18{
	font-size: 18px;
}
.font-size--25{
	font-size: 25px;
}

.flex{
	display : flex;
}
.flex-direction--column{
	flex-direction: column;
}
.flex--1{
	flex : 1;
}
.flex--2{
	flex : 2;
}
.display--none{
	display : none;
}
.text-align--center{
	text-align : center;
}
.float--right{
	float: right;
}
.align-items--center{
	align-items: center;
}
.horizontal__center{
	display: flex;
	justify-content: center;
}


.bg-color--black{
	background-color: black;
}
.bg-color--grey{
	background-color: lightgrey
}
.bg-color--lightgreen{
	background-color : #66cc00;	
}
.bg-color--white{
	background-color: white;
}


.color--antiquewhite{
	color : antiquewhite;
}
.color--green{
	color : #006600;
}
.color--blue{
	color : #0085ff;
}
.color--white{
	color : white;
}


.paddingLR--40{
	padding-left: 40px;
	padding-right: 40px;
}
.padding-top--10{
	padding-top: 10px !important;
}
.padding--5{
	padding: 5px;
}



.height--150{
	height : 150px !important;
}
.min-height--300{
	min-height: 300px;
}
.min-height--650{
	min-height : 650px;
}
.height--450{
	height : 450px;
}
.height--100percent{
	height : 100%;
}


.margin--0{
	margin : 0px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top--50{
	margin-top: 50px;
}
.margin--auto{
	margin : auto;
}
.margin-bottom--50{
	margin-bottom: 50px;
}


.border-radius--50per{
	border-radius: 50%;
}
.border--radius--2{
	border-radius: 2px;
}


.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.layout--fit{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

/******GENERAL CSS END********/


/********LANDING PAGE START**********/
.map-css{
	height: 100%;
    width: 100%;
    border: none;
}
.quoteImg{
	background-repeat: no-repeat;
    width: 40px;
    height: 45px;
    display: inline-block;
}
.quoteStartImg{
	background-image: url("../img/qStart.PNG");
}
.quoteEndImg{
	background-image: url("../img/qEnd.PNG");
}
.headerLogo{
	background-image: url("../img/headerLogo.png");
	background-repeat: no-repeat;
    width: 150px;
    height: 90px;
    display: inline-block;
    float : left;
    
}
.socialMediaImg{
	background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    display: inline-block;
}
.socialMediaImg:hover{
	cursor: pointer;
}
.socialFacebookImg{
	background-image: url("../img/fb.PNG");
}
.socialGogglePlusImg{
	background-image: url("../img/g+.PNG");
}
.socialTwitterImg{
	background-image: url("../img/twit.PNG");	
}
.btn-darkorange .card-block{
	background-color: #ff9900 !important;	
	color :white;
}
.btn-deepskyblue .card-block{
	background-color: #0099cc !important;	
	color : white;
}
.btn-mediumorchid .card-block{
	background-color: #00cc99 !important;
	color: white;
}
.btn--white{
	background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.min-height-block{
	min-height : 200px;
}
.align-self--flex-end{
	align-self: flex-end;
}
.justify-content--flex-end{
	justify-content: flex-end;
}
.paddingTB--25{
	padding : 10px 0px 10px 0px;
}

.headerNavbar {
    background-color: white;
    border-color: white;
}
.headerNavbar .navbar-nav>li>a:hover,
.headerNavbar .navbar-nav>li>a:focus{
	background-color: #f8f8f8 !important;
	border-right: 4px solid #66cc00;
	color : #66cc00 !important;
}
.headerNavbar .navbar-toggle{
	margin-top: 26px;
}
.copyright, 
.copyright:hover, 
.copyright:focus{
	color : #66cc00 !important;
}
address{
	margin-top : 20px;
	margin-left : 30px;
}
.margin--50{
	margin : 20px;
}
.imgCardEvent{
	background : url("../img/Running.PNG");
	background-repeat: no-repeat;
    width: 140px;
    height: 140px;
    margin : auto;
    display: inline-block;	
}
.card--size{
	position: relative;
	width : 310px;
	height : 230px;
}
.card--hover button{
	visibility: hidden;
}
.card--hover:hover{
	
	background:rgba(0,0,0,0.3);
	transition: background 0.5s linear;	
}
.card--hover:hover button{
	visibility: visible;
	transition: visibility 0.5s linear;
}
.card--hover:hover button:hover{
	color : #66cc00;
	border-color:  #66cc00;
}
.imgCountdown{
	background : url("../img/countdownbg.JPG");
	background-repeat: no-repeat;
    display: inline-block;
    width : 100%;
    background-size: cover;
}
.imgFooterbg{
	background : url("../img/footer1.JPG");
	background-repeat: no-repeat;
    display: inline-block;
    width : 100%;	
    background-size : cover;
}
/*******LANDING PAGE END*********/


/*CLOCK COMPONENT START*/

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 0px 20px 0px 20px;
	display: inline-block;
}

#clockdiv div > span{
	padding: 5px;
	font-size: 2em;	
}

.smalltext{
	margin-top: -30px;
	font-size: 16px;
}

/*CLOCK COMPONENT END*/

@media (min-width: 768px) {
    .vertical-align {
        display: flex;
        align-items: center;
    }
    .display--flex{
		display : flex;
	}
	.min-height-block{
		min-height: 400px;
	}
	#RunForFramerNav ul{
		margin-right : 50px;
	}
	.headerNavbar .navbar-nav>li>a {
	    padding-top: 30px;
	    padding-bottom: 36px;
	}
	.headerNavbar .navbar-nav>li>a:hover,
	.headerNavbar .navbar-nav>li>a:focus{	
		background-color: #f8f8f8 !important;
		border-bottom: 4px solid #66cc00;
		color : #66cc00 !important;
		border-right : 0px !important;
	}
	.navbar {
		border-radius : 0px;
	}
	.paddingLR--106{
		padding-left: 106px;
		padding-right: 106px;
	}
	.margin--50{
		margin : 50px;
	}
	#clockdiv div > span{
		font-size: 3em;	
	}
	.headerLogo{
		margin-left: 50px;
	}	
}
@media (min-width: 800px) {
	#clockdiv div > span{
		font-size: 4em;	
	}
}
@media (min-width: 992px) {
	.paddingTB--25{
		padding : 25px 0px 25px 0px;
	}
	#clockdiv div > span{
		font-size: 5em;	
	}
}
@media screen and (min-width: 768px){
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
		width: 48px;
    	height: 48px;
	}	
}
