/* HOME PAGE CSS START*/
.display--none{
	display : none;
}
.bg-color--black{
	background-color: black;
}
.margin--50{
	margin : 50px;
}
.text-align--center{
	text-align : center;
}
.float--right{
	float: right;
}

.padding-top--10{
	padding-top: 10px !important;
}
.height--150{
	height : 150px !important;
}

.map-css{
	height: 100%;
    width: 100%;
    padding: 15px;
    border: none;
}

.border-radius--50per{
	border-radius: 50%;
}
.align-items--center{
	align-items: center;
}
.bg-color--grey{
	background-color: lightgrey
}
.padding--5{
	padding: 5px;
}
.btn-green{
	color : white;
	background-color: green;
	border: green;
}
.btn-darkorange button{
	background-color: #ff6600 !important;	
	color :white;
}
.btn-deepskyblue button{
	background-color: #0099cc !important;	
	color : white;
}
.btn-mediumorchid button{
	background-color: #cc3399 !important;
	color: white;
}
.paddingLR--40{
	padding-left: 40px;
	padding-right: 40px;
}
.paddingLR--60{
	padding-left: 60px;
	padding-right: 60px;
}
.paddingTB--25{
	padding : 25px 0px 25px 0px;
}
.color--green{
	color : #006600;
}
.bg-color--lightgreen{
	background-color : #66cc00;	
}
.height--525{
	height : 525px;
}
.height--650{
	height : 650px;
}
.max-width--1350{
	max-width : 1350px;
}
.btn{
	border-radius : 0px;
	white-space : initial;
}
.socialMediaImg{
	
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.socialFacebookImg{
	background-image: url("../img/fb.PNG");
}
.socialGogglePlusImg{
	background-image: url("../img/g+.PNG");
}
.socialTwitterImg{
	background-image: url("../img/twit.PNG");	
}
@media (min-width: 768px) {
    .vertical-align {
        display: flex;
        align-items: center;
    }
    .display--flex{
		display : flex;
	}
}
/* HOME PAGE CSS END*/